@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto, sans-serif;
}
.text-center{
    text-align: center;
}
.primary-text{
    color: #93cb52;
}
a{
    text-decoration: none;
}
.container{
    width:auto;
    margin: auto;
    padding: 0 0.5rem;
    overflow: hidden;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
}
.m-heading{
    font-size: 3rem;
}
.lead{
    font-size: 1.2rem;
    margin: 1rem 0rem;
}
.py-1{ padding: 1rem 0rem;}
.py-2{ padding: 2rem 0rem;}
.py-3{ padding: 3rem 0rem;}
.p-1{ padding: 1rem;}
.p-2{ padding: 2rem;}
.p-3{ padding: 3rem;}
.btn{
    display: inline-block;
    background: #93cb52;
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.5rem;
}
.btn-dark{
    background-color: #333;
    width: 100%;
    margin-top: 1rem;
}
.btn:hover{
    background-color: #6e993d;
}
.bg-dark{
background-color: black;
color: #fff;
}
.bg-light{
    background-color: #fff;
    color: black;
    }
.fas{
    padding: 1rem;
    border-radius: 100px;
    background-color:#93cb52;
}
.list{
    list-style: none;
    margin-top: 0.75rem;
}
.list li{
    padding: 0.5rem 0rem;
}
#navbar{
position: fixed;
width: 100%;
background: black;
color: #fff;
display: flex;
justify-content: space-between;
top: 0;
align-items: center;
}
#navbar ul{
    display: flex;
    list-style: none;
    padding: 1rem;
}
#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 10px;
}
#showcase{
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    
}
#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 0rem 2rem;
    position:absolute;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    height: auto;
}
#what .items{
    display: flex;
    padding: 1rem 0.5rem;
}
#what .items .item{
    flex: 1;
    padding: 1rem;
}
#who{
    display: flex;
}
#who .right-section,
#who .left-section{
    flex: 1;
}
#who .left-section{
    background: url('../img/people.jpg') no-repeat center center/cover; 
}
#clients .logo{
    display: flex;
    justify-content: space-evenly;
}
#clients .logo img{
    display: block;
    margin: auto;
    width: 60%;
}
#contact{
    display: flex;
    margin-top: 1rem;
}
#contact div{
    flex: 1;
}
#contact .contact-us{
    background: #93cb52;
    color: #fff;
}
#contact .contact-us .form{
    margin: 0.75rem;
}
#contact .contact-us .form label{
    font-size: 20px;
    display: block;
}
#contact .contact-us .form input{
    width: 100%;
    height: 3rem;
}
#contact .contact-us .form textarea{
    width: 100%;
    height: 5rem;
}


